@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap");

:root {
	--ff-modak: "Modak", system-ui;
	--ff-lato-sans: "Lato", sans-serif;
	--ff-yanone-sans: "Yanone Kaffeesatz", sans-serif;

	--primary-color: #406d52;
	--secondary-color: hsl(26, 43%, 32%);
}
