.contactMain {
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contactMain__title {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.small_title,
.big_title {
	font-family: var(--ff-yanone-sans);
	color: var(--primary-color);
	font-weight: 700;
	text-transform: uppercase;
}

.small_title {
	font-size: clamp(2.5rem, 11vw, 7.5rem);
}

.big_title {
	font-size: clamp(4rem, 16vw, 12rem);
}

.contactMain__title p {
	font-family: var(--ff-lato-sans);
	color: var(--primary-color);
	font-size: clamp(1rem, 3vw, 2.5rem);
	width: 80%;
}

.contact_form__section {
	margin-top: 5rem;
	width: 60%;
}
