.contactSection {
	margin-top: 5rem;
	height: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contactSection h1 {
	font-family: var(--ff-yanone-sans);
	font-size: clamp(2rem, 2vw + 2rem, 3.5rem);
	color: var(--primary-color);
	font-weight: 700;
	text-transform: uppercase;
}

.contactSection img {
	width: clamp(200px, 30vw, 300px);
	object-fit: cover;
}
