.menuMain {
	margin-top: 5rem;
	height: 50vw;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	min-height: 100vh;
}

.menuMain__title {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.small_title,
.big_title {
	font-family: var(--ff-yanone-sans);
	color: var(--primary-color);
	font-weight: 700;
	text-transform: uppercase;
}

.small_title {
	font-size: clamp(2rem, 8vw, 7.5rem);
}

.big_title {
	font-size: clamp(2rem, 18vw, 18rem);
}

.menuMain__title p {
	font-family: var(--ff-lato-sans);
	color: var(--primary-color);
	font-size: clamp(1rem, 3vw, 2.5rem);
	width: 80%;
}

.menu_selection__section {
	display: flex;
	margin-top: 5rem;
	border: 2px solid var(--primary-color);
	border-radius: 50px;
	padding: 8px 10px;
}

.menu_selection__section button {
	border: none;
	font-family: var(--ff-lato-sans);
	text-transform: uppercase;
	font-size: clamp(1rem, 2vw, 1.5rem);
	font-weight: 500;
	background-color: transparent;
	border-radius: 2rem;
	padding: 15px 30px;
	color: var(--primary-color);
	cursor: pointer;
}

.menu_selection__section .active {
	background-color: var(--primary-color);
	color: white;
}
