.footer {
	margin-top: 10rem;
	display: flex;
	flex-direction: column;
	position: relative;
	height: 90vh;
	clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
}

.inner {
	position: fixed;
	height: 90vh;
	width: 100%;
	bottom: 0;
}

.footer svg {
	margin: 0;
	padding: 0;
}

.content {
	background-color: var(--primary-color);
	height: 85%;
	margin: 0;
	padding: 6rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 4rem;
}

.footer__menu {
	width: 100%;
}

.footer__menu ul {
	display: flex;
	align-items: center;
	list-style: none;
	justify-content: space-around;
}

.footer__menu ul li {
	margin: 0 1rem;
}

.footer__menu ul li a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 2rem;
	transition: opacity 0.3s;
}

.footer__menu ul li a:hover {
	opacity: 0.7;
}

.footer__buttons {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer__buttons button {
	width: 45vw;
	border: 1px solid white;
	color: white;
	margin: 0;
	border-radius: 50px;
	cursor: pointer;
	font-family: var(--ff-lato-sans);
	font-size: clamp(1.5rem, 3.5vw, 3rem);
}

@media (max-width: 920px) {
	.footer {
		margin-top: 5rem;
	}
	.content {
		padding: 4rem 2rem;
	}
	.footer__menu ul {
		flex-direction: column;
	}
	.footer__menu ul li {
		margin: 1rem 0;
	}
	.footer__buttons {
		flex-direction: column;
		gap: 2rem;
	}
	.footer__buttons button {
		width: 100%;
		font-size: 1.5rem;
	}
}
