.hero {
	margin: 0 2rem;
}

.hero__image img {
	border-radius: 24px;
	max-height: 85vh;
	width: 100%;
	object-fit: cover;
	object-position: top;
}

.hero__content {
	width: 95vw;
	margin-top: 4rem;
	padding-inline: 5px;
	display: flex;
}

.hero__text {
	width: 65vw;
}

.hero__text p {
	font-family: var(--ff-lato-sans);
	font-size: clamp(3rem, 2vw + 2.5rem, 6rem);
	color: var(--primary-color);
	line-height: 1;
	font-weight: 400;
}
