.hero {
	margin: 0 2.5rem;
	/* overflow: hidden; */
}

.hero__image img {
	border-radius: 24px;
	max-height: 85vh;
	width: 100%;
	object-fit: cover;
	object-position: top;
}

.hero__content {
	width: 95vw;
	margin-top: 4rem;
	padding-inline: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero__text {
	width: 65vw;
}

@media (max-width: 768px) {
	.hero {
		margin: 0 1rem;
	}
	.hero__content {
		flex-direction: column;
		gap: 2rem;
		width: 100%;
		align-items: flex-start;
	}
}

.hero__text p {
	width: 100%;
	font-family: var(--ff-lato-sans);
	font-size: clamp(2rem, 5vw, 6rem);
	color: var(--primary-color);
	line-height: 1;
	font-weight: 400;
}

.poisChichesFlex {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	gap: 5rem;
}

.hero__content img {
	object-fit: contain;
}

.hero__content img:nth-child(1) {
	width: clamp(100px, 10vw, 150px);
	transform: rotate(10deg);
}

.hero__content img:nth-child(2) {
	width: clamp(100px, 10vw, 150px);
	transform: rotate(-15deg);
}

.hero__content img:nth-child(3) {
	width: clamp(200px, 20vw, 300px);
	aspect-ratio: 1;
	margin-bottom: -5rem;
}

/* @media (max-width: 1200px) {
	.hero__content img:nth-child(1) {
		width: 100px;
		transform: rotate(10deg);
	}

	.hero__content img:nth-child(2) {
		width: 100px;
		transform: rotate(-15deg);
	}

	.hero__content img:nth-child(3) {
		width: 200px;
		height: 200px;
	}
} */
