.carouselContainer {
	margin-block: 20rem;
}

.mySwiper {
	vertical-align: middle;
}

.mySwiper img {
	width: clamp(400px, 50vw, 60vw);
	max-height: 50rem;
	border-radius: 1rem;
	object-fit: cover;
	object-position: bottom;
}
