.nav {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	align-items: center;
	padding-inline: 2rem;
}

.logo {
	width: 50vw;
	font-family: var(--ff-modak);
	color: var(--primary-color);
	font-size: clamp(3rem, 6vw, 6rem);
	padding: 5px 40px;
}

.nav__menu {
	width: 45vw;
	padding: 5px 25px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 4rem;
}

.contact {
	background-color: var(--primary-color);
}

.contact a {
	color: #fff;
}

.nav__menu li {
	border: 2px solid var(--primary-color);
	border-radius: 2rem;
	padding: 16px 32px;
	color: var(--primary-color);
	transition: all 0.2s ease-out;
	display: block;
}

.nav__menu li:hover {
	cursor: pointer;
	transform: translateY(-4px);
}

.nav__menu li a {
	text-transform: uppercase;
	font-size: 1.25rem;
	font-weight: 400;
}
