.nav {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	align-items: center;
	padding-inline: 2rem;
}

.logo {
	width: 50vw;
	font-family: var(--ff-modak);
	color: var(--primary-color);
	font-size: clamp(3rem, 6vw, 6rem);
	padding: 5px 40px;
}

@media (max-width: 768px) {
	.logo {
		padding: 5px;
	}
}

.nav__menu {
	width: 45vw;
	padding: 5px 25px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 3rem;
}

.contact {
	background-color: var(--primary-color);
}

.contact a {
	color: #fff;
}

.nav__menu li {
	border: 2px solid var(--primary-color);
	border-radius: 2rem;
	padding-block: clamp(0.5rem, 1vw, 1rem);
	padding-inline: clamp(1rem, 2vw, 2rem);
	color: var(--primary-color);
	transition: all 0.2s ease-out;
	display: block;
}

.nav__menu li:hover {
	cursor: pointer;
	transform: translateY(-4px);
}

.nav__menu li a {
	text-transform: uppercase;
	font-size: clamp(1rem, 2vw, 1.5rem);
	font-weight: 400;
}

@media (max-width: 768px) {
	.nav__menu {
		display: none;
	}
}

.nav__toggle img {
	width: 30px;
	height: 30px;
	object-fit: contain;
}

@media (min-width: 768px) {
	.nav__toggle {
		display: none;
	}
}

.flex {
	display: flex;
	background-color: var(--primary-color);
	border-radius: 24px;
	position: absolute;
	top: 4rem;
	left: 1rem;
	right: 1rem;
	width: calc(100% - 2rem);
}

.nav__toggle_menu_list {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 2rem;
}

.nav__toggle_menu_list li {
	background-color: #fff;
	border: none;
	border-radius: 2rem;
	width: 100%;
	text-align: center;
	padding: 1rem 2rem;

	text-transform: uppercase;
	transition: all 0.2s ease-out;
	display: block;
}

.nav__toggle_menu_list li:hover {
	cursor: pointer;
	transform: translateY(-4px);
	background-color: hsla(120, 100%, 84%, 0.685);
}

.nav__toggle_menu_list li a {
	font-family: var(--ff-yanone-sans);
	font-weight: 700;
	color: var(--primary-color);
	font-size: clamp(1.5rem, 6vw, 2rem);
}

.hidden {
	display: none;
}
