.contact__form {
	width: 100%;
}

.form__input_container {
	display: flex;
	gap: 2rem;
	margin-bottom: 5rem;
}

.form_input {
	width: 50%;
	padding-block: 0.5rem;
	padding-left: 0.5rem;
	border: none;
	border-bottom: 1.5px solid var(--primary-color);
	background-color: transparent;
	font-family: var(--ff-lato-sans);
	color: var(--primary-color);
	font-size: 1.25rem;
}

.textarea_container textarea {
	width: 100%;
	padding-block: 0.5rem;
	padding-left: 0.5rem;
	border: 1.5px solid var(--primary-color);
	border-radius: 1rem;
	background-color: transparent;
	font-family: var(--ff-lato-sans);
	color: var(--primary-color);
	font-size: 1.25rem;
	margin-bottom: 3rem;
}

input:focus {
	outline: none;
	border-bottom: 2px solid var(--primary-color);
}

textarea:focus {
	outline: none;
	border: 2px solid var(--primary-color);
}

input::placeholder,
textarea::placeholder {
	color: var(--primary-color);
}

.form_button__container {
	display: flex;
	justify-content: center;
}

.form_button {
	border: none;
	font-family: var(--ff-lato-sans);
	text-transform: uppercase;
	font-size: 1.25rem;
	font-weight: 500;
	background-color: var(--primary-color);
	border-radius: 2rem;
	padding: 15px 30px;
	color: #ffff;
	cursor: pointer;
	transition: transform 0.2s ease-out;
}

.form_button:hover {
	transform: translateY(-4px);
}

/* Media Queries */

@media screen and (max-width: 576px) {
	.form__input_container {
		flex-direction: column;
		gap: 4rem;
		margin-bottom: 4rem;
	}

	.form_input {
		width: 100%;
	}
}
